.table-container {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.web-page-table {
  max-height: 60vh;
}

.url-container {
  max-width: 60%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.select {
  width: 200px;
}

.modal-content {
  width: 70vw;
}

.iframe {
  
}

.col-Url {
  max-width: 60%;
}

.td-url-container {
  max-width: 300px;
}