/* You can add global styles to this file, and also import other style files */
.max-line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.btn {
  margin: 0;
}

.cursor-poiter {
  cursor: pointer;
}

.float-right {
  float: right;
}

.url-btn {
  color: #51cbce!important;
  cursor: pointer;
}

.url-btn:hover {
  text-decoration: underline!important;
}
