/* You can add global styles to this file, and also import other style files */
.max-line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.btn {
  margin: 0;
}

.cursor-poiter {
  cursor: pointer;
}

.float-right {
  float: right;
}

.url-btn {
  color: #51cbce!important;
  cursor: pointer;
}

.url-btn:hover {
  text-decoration: underline!important;
}

.red {
  color: red;
}

ng-select:focus {
  border: 1px solid #9A9A9A;
  box-shadow: none;
  outline: 0 !important;
  color: #66615B;
}



.is-invalid{
  .ng-select-container{
    border-color: red!important
  }
  .ck.ck-reset.ck-editor.ck-rounded-corners{
    border: 1px solid red!important;
  }
}

.show {
  display: block!important;
}

.col-Active {
  width: 150px;
}


.table-container {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.web-page-table {
  max-height: 60vh;
}

.url-container {
  max-width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.select {
  width: 200px;
}

.modal-content {
  // width: 70vw;
}

.col-CreateBy {
  min-width: 100px;
}
.col-PublishDate {
  min-width: 130px;
}

.col-Source {
  min-width: 110px;
}

.tag {
  color: white;
  display: flex;
}

.tag-content {
  background-color: #2FB5FA;
  padding: 3px 10px 3px 10px;
  border-radius: 3px;
  margin-right: 4px;
  font-size: 12px;
}

.grid {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
}

.grid-item-2 {
  background-color: rgba(255, 255, 255, 0.8);
}

.grid-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
  height: calc(100% - 20px);
  grid-row-gap: 10px;
  h5 {
    font-size: 14px!important;
    font-size: 14px !important;
    text-align: initial;
    font-weight: 600;
  }
  .card {
    margin: 0;
    height: 100%;
  }
  .card-img-top {
    height: 155px;
    object-fit: cover;
  }
}

.card-title {
  &:hover {
    color: #2FB5FA;
    cursor: pointer;
  }
}

.status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}

.error {
  background: #ff4d4f;
}
.success {
  background: #52c41a;
}