<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a class="avatar">
            <i (click)="upload()" class="fa fa-camera" aria-hidden="true"></i>
            <input accept="image/*" type="file" #fileInput (change)="uploadFile($event)"/>
            <img class="avatar"  [src]="dataSource?.avatar || 'assets/icon/user.png'" alt="...">
            <h5 class="title mt-1">{{form.value?.firstName}} {{form.value?.lastName}}</h5>
          </a>
          <p class="description">
            {{dataSource?.account}}
          </p>
        </div>
        <p class="description text-center">
          {{form.value?.introduce}}
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ml-auto">
              <h5>12
                <br>
                <small>Files</small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <h5>2GB
                <br>
                <small>Used</small>
              </h5>
            </div>
            <div class="col-lg-3 mr-auto">
              <h5>24,6$
                <br>
                <small>Spent</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Team Members</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled team-members">
          <li>
            <div class="row">
              <div class="col-md-7 col-7">
                DJ Khaled
                <br />
                <span class="text-muted">
                  <small>Offline</small>
                </span>
              </div>
              <!-- <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
              </div> -->
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-md-3 pr-1">
              <div class="form-group">
                <label>Account</label>
                <input formControlName="account" type="text" class="form-control" disabled="" value="Creative Code Inc.">
              </div>
            </div>
            <div class="col-md pl-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input formControlName="email" type="email" class="form-control" placeholder="Email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>First Name</label>
                <input  [class.is-invalid]="this.isError('firstName','')" formControlName="firstName" type="text" class="form-control" >
                <div class="invalid-feedback" >
                  This field is required
                </div>
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Last Name</label>
                <input  [class.is-invalid]="this.isError('lastName','')" formControlName="lastName"  type="text" class="form-control">
                <div class="invalid-feedback" >
                  This field is required
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Country</label>
                <!-- <input formControlName="countryId" type="text" class="form-control" placeholder="Country" value="Australia"> -->
                <ng-select
                  [clearable]='false'
                  formControlName="countryId"
                  placeholder="select"
                  [items]="country"
                  bindLabel="title"
                  bindValue="id"
                ></ng-select>
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Gender</label>
                <!-- <input formControlName="genderId" type="number" class="form-control" placeholder="ZIP Code"> -->
                <ng-select
                  [clearable]='false'
                  formControlName="genderId"
                  placeholder="select"
                  [items]="gender"
                  bindLabel="title"
                  bindValue="id"
                ></ng-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>About Me</label>
                <textarea formControlName="introduce" class="form-control textarea"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button (click)="update()" type="submit" class="btn btn-primary btn-round">Update Profile</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
